/**
 * SPDX-FileCopyrightText: 2020 Felix Wolfsteller
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Styles for filters check boxes. */
.checkbox-wrap {
  display: block;
}

.checkbox-wrap > * {
  display: inline-block !important;
  max-width: 70%;
  vertical-align: top;
}

.themenfeld-link {
  margin-left: 1em;
}

/* For anchor links (page#anchor), offset it due to the menu on top */
.anchor-offset {
  position: relative;
  display:block;
  top:-135px;
}

.visibility-hidden {
  visibility: hidden;
}
