/* Modification of admin (backend) style */
/* Make warning of required featured image bigger */

#nofeature-message p {
  font-size: 24px;
}

/* Help widget text appearance */
#lfm_help_widget div {
  line-height: 1.5;
  margin: 1em 0;
}

/* Help widget list item appearance */
#lfm_help_widget li {
  list-style-type: square;
  list-style-position: inside;
}
