/* Modification of admin (backend) style */
/* Make warning of required featured image bigger */

#nofeature-message p {
  font-size: 24px;
}

#lfm_help_widget div {
  line-height: 1.5;
  margin: 1em 0;
}
